# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Build output
frontend/dist/
frontend/.env

# Backend secret
backend/.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
